/**** HTML5 blocks ****/

* {
  margin: 0;
  padding: 0;
}

h2, h3, ul, ol, p, blockquote { margin-bottom: 1.0em; }

ul, ol {
  padding-left: 1.5em;
}

body {
  font-family: 'Helvetica Neue', Arial, sans-serif;
  font-size: 15px;
  line-height: 1.45em;
  background: white;
  color: #555;
  position: relative;
  min-height: 100%;
}

a { 
  color: #D47; 
  text-decoration: none;
}

a:hover {
  color: #222;
  background: hsla(330,100%,50%,.1);
}

a img { border: none; }

#wrap {
  height: 100%;
  position: relative;
  padding-top: 40px;
}

article {
  margin-bottom: 1.0em;
  border-bottom: 1px dashed #DDD;
  position: relative;
  padding-top: 80px;
  padding-bottom: 200px;
}

/* clear fix */
article:after {
  content: '';
  display: block;
  clear: both;
  visibility: none;
  height: 0;
}

article .content {
  width: 500px;
  margin: 0 auto;
}

article time {
  text-transform: uppercase; 
  text-align: center;
  display: block;
  margin-bottom: 90px;
  letter-spacing: 0.25em;
  font-size: 13px;
  color: #AAA;
}

article time a {
  
}

.content img {
  display: block;
  max-width: 100%;
}

.meta {
}

.content img,
.video-player {
  margin: 0 auto 1.0em;
}


blockquote {
  padding: 0.8em;
  background: hsla(330, 100%, 50%, .08);
}

blockquote p:last-child { margin-bottom: 0; }


/**** Audio ****/

img.album-art {
  width: 160px;
  height: 160px;
  float: left;
  margin: 0 1.0em 1.0em 0;
}

/**** Header ****/

#page-header h1 {
  font-style: normal;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-size: 18px;
  
}

#page-header h1 a {
  padding: 0.5em;
  color: #DDD;
  display: block;
}
#page-header h1 a:hover {
  color: #D47;
  background: transparent;
}


#page-header ul {
  list-style: none;
  padding: 10px 0 0;
  margin: 0;
  text-align: center;
  
}

#page-header ul li {
  margin-bottom: 3px;
  display: inline-block;
}

#page-header ul a {
  font-weight: 500;
  letter-spacing: 0.2em;
  font-size: 13px;
  text-transform: uppercase;
  padding: 0 0.5em;
  display: block;
}

#page-header ul a:hover { background: #222; }


/* tags
------------------------- */


ul.tags {
  list-style: none;
  text-align: center;
}

ul.tags li {
  display: inline-block;
}

ul.tags li a:after {
  content: '';
  display: block;
  border-color: white transparent;
  border-style: solid;  
  border-width: 0.92em;
  border-left: none;
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
}

ul.tags li a:before {
  content: '●';
  display: block;
  color: white;
  position: absolute;
  left: 0.8em;
  top: 0.0em;
  border-radius: 0.25em;
  font-size: 1.2em;
}

ul.tags li a {
  position: relative;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 600;
  color: hsla(330,100%,50%,.4);
  background: #F5F5F5;
  padding: .0em 0.5em .0em 2em;
  display: inline-block;
}

ul.tags li a:hover {
  background: hsla(330,100%,50%,1);
  color: white;
}


/* pagination
------------------------- */

#pagination {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  padding: 20px 0;
  font-weight: 600;
}

#pagination ul {
  list-style: none;
  position: relative;
}

#pagination .previous {
  position: absolute;
  left: 20px;
  top: 0;
}

#pagination .next {
  position: absolute;
  right: 20px;
  top: 0;
}


#pagination a {
  padding: 0.5em;
}